.button--next {
  color: var(--bleu-basic);
  background-color: var(--bleu-pale-fond);
}

.button--prev {
  color: var(--bleu-fleche-transparent);
  background-color: var(--bleu-pale);
}

.button--next:hover {
  background-color: var(--bleu-basic);
  color: var(--bleu-pale-fond);
  border: 3px solid var(--bleu-pale-fond);
}

.button--prev:hover {
  cursor: not-allowed;
}

.button--edit {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  background: var(--bleu-basic);
  color: var(--blanc);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--lusitana);
  transition: 0.25s ease;
}

.button--edit:hover {
  background: var(--bleu-fonce);
  box-shadow: 0 4px 12px var(--bleu-basic-transparent);
}

.button--delete {
  margin-top: 5px;
  width: 100%;
  padding: 12px;
  background: var(--crimson);
  color: var(--blanc);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: var(--lusitana);
  transition: 0.25s ease;
}

.button--delete:hover {
  background: var(--dark-crimson);
  box-shadow: 0 4px 12px var(--crimson-transparent);
}

.button_basic {
  display: inline-block;
  text-decoration: none;
  font-family: var(--lusitana);
  font-size: 1rem;
  margin: 20px;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: 2px solid var(--bleu-basic);
  background: var(--bleu-basic);
  color: var(--blanc);
  cursor: pointer;
  transition: transform 0.15s ease-out, box-shadow 0.2s ease-out,
    background-color 0.2s ease-out, border-color 0.2s ease-out;
  box-shadow: 0 2px 4px var(--bleu-basic-transparent);
}

.button_basic:hover {
  background: var(--bleu-fonce);
  border-color: var(--bleu-fonce);
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 3px 6px var(--bleu-fonce-transparent);
}

.button_basic:active {
  transform: translateY(2px) scale(0.98);
  background: var(--bleu-basic);
  box-shadow: 0 1px 2px var(--bleu-basic-transparent);
}

.red {
  background-color: var(--crimson) !important;
}

.red:hover {
  background-color: var(--dark-crimson) !important;
}

.green {
  background-color: var(--green) !important;
}

.green:hover {
  background-color: var(--green-dark) !important;
}

.greenlight {
  background-color: var(--greenlight) !important;
}

.greenlight:hover {
  background-color: var(--greenlight-dark) !important;
}

.yellow {
  background-color: var(--yellow) !important;
}

.yellow:hover {
  background-color: var(--yellow-dark) !important;
}

.yellow-orange {
  background-color: var(--grey) !important;
}

.yellow-orange:hover {
  background-color: var(--grey-dark) !important;
}
