:root {
  --bleu-fonce: #001c53;
  --bleu-fonce-transparent: #0025708c;
  --bleu-basic: #003399;
  --bleu-basic-transparent: #0033993c;
  --bleu-gris: #cacaef61;
  --bleu-pale-fond: #aabdec;
  --bleu-pale: #eeeff6;
  --bleu-fleche-transparent: #5a6271ea;
  --bleu-transparent: #00339910;
  --blanc: #ffffff;
  --bleu-separateur: #0c00f430;

  --crimson: #dc143c;
  --crimson-transparent: #dc143c6b;
  --dark-crimson: #860c24;

  --green-dark: #006400;
  --green: #00a550;
  --green-transparent: #00a5506b;

  --greenlight-dark: #3f603f;
  --greenlight: #4a7d63;

  --javanese: "javanese-text", sans-serif;
  --lusitana: "Lusitana", serif;
  --lilita-one: "Lilita One", sans-serif;
}
